.TableContainer {
    background-color: rgb(37, 2, 2); 
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid black; 
    color: rgba(0, 0, 0, 0.95); 
}

.TableHead {
    background-color: #180000;
    border: 1px solid black; 
    color: rgba(0, 0, 0, 0.95);
}

.TableCell {
    padding: 8px;
    border: 1px solid black; 
}

.TableRow:nth-of-type(even) {
    background-color: #110000;
    border: 1px solid black; 
}

.TableRow:last-child td,
.TableRow:last-child th {
    border: none;
}

.TableCell {
    text-align: center;
}

.TableImage {
    border-radius: 50%;
}