.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}

.page-not-found h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}