.TableContainer {
    background-color: black; 
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid black; 
}

.TableHead {
    background-color: #f0f0f0;
    border: 1px solid black; 
}

.TableCell {
    padding: 8px;
    border: 1px solid black; 
}

.TableRow:nth-of-type(even) {
    background-color: #f9f9f9;
    border: 1px solid black; 
}

.TableRow:last-child td,
.TableRow:last-child th {
    border: none;
}

.TableCell {
    text-align: center;
}

.TableImage {
    border-radius: 50%;
}
